input{
    padding:15px;
    border-radius:30px;
    border:2px solid #ff69b4;
    text-align:center;
    font-size:18px;
    margin:15px;
}

.hidden{
    display:none;
}

#message{
    color:#ff1493;
    font-weight:bold;
}


